
body {
    background-image:url("http://travel.home.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.hgtvcom.966.725.suffix/1491584555480.jpeg");
   
}

 div
{
    background-color:lightskyblue;
}

span {
    background-color:white
       
}